# Ignore Python bytecode and cache files
__pycache__/
*.pyc
*.pyo

# Ignore directories for frontend libraries
lib/

# Ignore any environment or dependency files
.env
*.env

# Ignore temporary files
*.tmp
*.log
*.bak
*.swp
*.swo

# Ignore virtual environments
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db
